:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --button-text-color: #212121;
  --button-text-color-hover-focus: #ffffff;
  --button-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;
  --link-text-kontacts: #757575;
  --link-text-site-nav: #212121;
  --accent-text-color: #2196f3;
  --tekst-kontacts-footer: rgba(255, 255, 255, 0.6);
}
