/* header */

.header {
  border-bottom: 1px solid #e9e2e2;
  @media screen and (max-width: 767px) {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 50;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__container {
  @media screen and (min-width: 480px) {
    // display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}
.header__logo {
  @media screen and (max-width: 767px) {
    // margin-right: 275px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.navigation {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 1200p) {
    margin-right: auto;
  }
}
.menu__button {
  @media screen and (max-width: 767px) {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    & .icon__menu {
      display: none;
    }
    &.is-open .icon__menu {
      display: block;
      // z-index: 3;
    }
    &.is-open .icon__close {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu__container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 48px 40px;

    &.is-open {
      display: none;
      // z-index: 2;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    // justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}
.div__link {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    display: inline-flex;
  }
}
.div__social .link {
  @media screen and (max-width: 767px) {
    display: flex;
    color: var(--accent-text-color);
  }
}
@media screen and (max-width: 767px) {
  .list__social:not(:last-child) {
    position: relative;
    padding-right: 20px;

    &::before {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      bottom: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(33, 33, 33, 0.2);

      margin-right: 10px;
    }
  }
}
@media screen and (min-width: 768px) {
  .list__social {
    display: none;
  }
}
