/*  секция услуги */
.quality {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.quality__list {
  @media screen and (max-width: 767px) {
    width: 100%;
    padding-bottom: 30px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
    &:nth-child(2n + 1) {
      // padding-right: 30px;
      padding-bottom: 30px;
    }
    &:nth-child(3) {
      padding-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
  &:nth-child(1):before {
    background-image: url(../images/icons/antenna.svg);
  }
  &:nth-child(2):before {
    background-image: url(../images/icons/clock.svg);
  }
  &:nth-child(3):before {
    background-image: url(../images/icons/diagram.svg);
  }
  &:nth-child(4):before {
    background-image: url(../images/icons/astronaut.svg);
  }
  &::before {
    display: flex;
    content: '';
    height: 120px;
    background-color: #f5f4fa;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.quality__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  // height: 100%;
}
.list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;
  }
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.header .list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: start;
  }
}
.div__link .list {
  @media screen and (max-width: 767px) {
    display: block;
    &:not(:last-child) {
      margin-bottom: 210px;
    }
  }
}
